
@using cityLife.Controllers;
@*
    Viewbag contains:
          ViewBag.apartments = apartmentList;  //list<ApartmentPrice>
          ViewBag.tBox = tBox;                 //translation box
          ViewBag.currentCurrency               (Currency)the currency selected by the user, or the default currency
          ViewBag.bookingRequest     //(BookingRequest)
*@


@{
    Layout = "~/Views/sharing/_cityLifeLayout.cshtml";

    TranslateBox tBox = ViewBag.tBox;
    ViewBag.Title = tBox.translate("home");
    IEnumerable<ApartmentPrice> apartments = ViewBag.apartments;
    Currency currentCurrency = ViewBag.currentCurrency;



}

<div class="slider main-slider">

    @foreach (var apartmentAndPrice in apartments)
    {
        ApartmentPhoto mainPhoto;
        if (Request.Browser.IsMobileDevice)
        {
            mainPhoto = apartmentAndPrice.theApartment.MainPhotoPortrait();
        }
        else
        {
            mainPhoto = apartmentAndPrice.theApartment.MainPhotoLandscape();
        }
        string filePath;
        if (mainPhoto == null)
        {
            //We did not find a photo - take a default photo
            filePath = "/images/defaultLandscape.jpg";
        }
        else
        {
            //we found a photo - take it
            filePath = mainPhoto.filePath;
        }
        <div>
            <div class="slide">
                <div class="image" style="background-image: url('@filePath');"></div>
                <div class="slide-dscr">
                    <div class="col">
                        <h4 class="light">@tBox.translate("Apartment") @apartmentAndPrice.theApartment.number</h4>
                        <h2 class="light">@apartmentAndPrice.theApartment.nameKey</h2>
                        <div class="btn">@tBox.translate("Book now")</div>
                    </div>
                    <div class="col">
                        <h4 class="light">
                            @tBox.translate("Price")
                        </h4>
                        <div class="price light">
                            @{
                                //Display either the minimum price per night, or the price per stay
                                string priceText = "";
                                if (apartmentAndPrice.minPricePerNight != null)
                                {
                                    //We should display: from $20/night (because the length of stay is not known)
                                    priceText = tBox.translate("from") + " " + apartmentAndPrice.minPricePerNight.toMoneyString() + "/" + tBox.translate("night");
                                }
                                else if (apartmentAndPrice.pricePerStay != null)
                                {
                                    //We should display: $100 for 4 nights
                                    string night_s = "night";     //signular or plural "night" or "nights"
                                    if (apartmentAndPrice.nightCount > 1)
                                    {
                                        night_s += "s";
                                    }
                                    priceText = apartmentAndPrice.pricePerStay.toMoneyString() + " " +
                                        tBox.translate("for") + " " + apartmentAndPrice.nightCount + " " + tBox.translate(night_s);
                                }
                                else 
                                {
                                    //display a "not available" message and the reason
                                    if(apartmentAndPrice.availability == Availability.OCCUPIED)
                                    {
                                        priceText = tBox.translate("Apartment booked for these dates");
                                    }
                                    if (apartmentAndPrice.availability == Availability.NOT_SUITABLE)
                                    {
                                        priceText = tBox.translate("Not suitable for this group size");
                                    }
                                }
                            }
                            @priceText
                        </div>


                    </div>


                </div>


            </div>


        </div>
    }
</div>
<div class="main-description-wrap">
    <div class="proverb">
        <p>@tBox.translate("bottom left text")</p>
        <p class="align-right">@tBox.translate("Ksenia")</p>
    </div>
    <div class="description main-description">
        <p>@tBox.translate("bottom middle text") Our apartment house is in a sunny and quiet location with good connections to hiking paths and cross country skiing runs. There are 10 comfortable apartments from 25m<sup>2</sup> to 45m<sup>2</sup></p>
        <p>@tBox.translate("bottom right text")Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deserunt ea et iusto, odit rerum soluta tempore vel! Ab accusantium error eum fuga magnam modi nam quasi ratione repellat veritatis?</p>
        @* <p>@tBox.translate("bottom middle text") sf sdf sdf sdf sdf sdf sdf sdf sdf sdf sf sf sdf  sfd sdf sdf sdf sdf sdf sdf sdf sf sdf sdf sf sf sf sf s fsf s fsdf</p>
            @*<p>@tBox.translate("bottom right text") sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf sdf </p>*@
    </div>
</div>

