@using cityLife4;
@using cityLife.Controllers;
@{
    ViewBag.Title = "s21horizontalDahsboard";
    Layout = "~/Views/sharing/_staffLayout.cshtml";
    TranslateBox tBox = ViewBag.tBox;
    DateTime fromDate = ViewBag.fromDate;
    string fromDateSt = fromDate.ToString("dd MMMM, yyyy");
    List<List<DayBlock>> apartmentDayBlocks = ViewBag.apartmentDayBlocks;
}
<style>
    .dash01 {
        position: absolute;
        top: 100px;
        left: 0px;
        height: 300px;
        width: 30px;
        border: 1px solid;
    }

    .dash01td {
        padding: 0px;
        border: 0px;
        text-align: center;
        height: 33px;
        width: 50px;
        overflow: hidden;
    }

    .dash02 {
        position: absolute;
        top: 100px;
        left: 30px;
        border: 1px solid;
        width: 360px;
        height: 300px;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .dash02th {
        padding-top: 2px;
        padding-bottom: 2px;
        text-align: center;
        background-color: #4CAF50;
        color: white;
        border: 1px solid #ddd;
        padding: 2px;
        width: 50px;
        height: 33px;
        overflow: hidden;
        text-align: center
    }

    .dash02td {
        border: 1px solid #ddd;
        padding: 2px;
        width: 50px;
        height: 33px;
        overflow: hidden;
        text-align: center
    }

    
</style>
<form id="fromDateForm" method="get" action="s21Dashboard"> 
    <div class="field-box datepicker-box" style="width:250px">
        <input type="text" id="fromDate" name="fromDate" value="@fromDateSt" onchange="changeFromDate()">
        <label for="fromDate">
            <span class="field-name">@tBox.translate("from date")</span>
            <span class="calendar-ico"></span>
        </label>
        <span class="field-error"></span>
    </div>
</form>
@*This field is not needed. It is here for now because the JS in script.js (first function) assumes that both "fromDate and toDate exist.
    This needs to be cleanedd up. (it was coped from the public website)*@
<div class="field-box datepicker-box" style="display:none">
    <input type="text" id="toDate" name="toDate" value="" onchange="enableAvailabilityButton()">
    <label for="toDate">
        <span class="field-name">@tBox.translate("Check out date")</span>
        <span class="calendar-ico"></span>
    </label>
    <span class="field-error"></span>
</div>
<div class="dash01">
    <table>
        <tr><td class="dash01td">date</td></tr>
        <tr><td class="dash01td">day</td></tr>
        @foreach (var anApartment in apartmentDayBlocks)
        {
            int apartmentNumber = anApartment.First().apartmentNumber;
            <tr><td class="dash01td">@apartmentNumber</td></tr>
        }
    </table>
</div>
<div class="dash02">
    <table style="table-layout:fixed; width:100%">

        <tr>
            @{ var lastDate = fromDate.AddDays(31);}
            @for (DateTime aDate = fromDate; aDate < lastDate; aDate = aDate.AddDays(1))
            {
                <th class="dash02th">@aDate.ToString("dd/MM")</th>
            }
        </tr>
        <tr>
            @for (DateTime aDate = fromDate; aDate < lastDate; aDate = aDate.AddDays(1))
            {
                <th class="dash02th">@aDate.ToString("ddd")</th>
            }
        </tr>

       
        @foreach(var anApartment in apartmentDayBlocks)
        {
        <tr>
            @foreach (var aDAyBlock in anApartment)
            {
                if (aDAyBlock.orderStatus == null)
                {
                    //This is a free day
                    <td class="dash02td"></td>
                }
                else
                {
                    //This is a busy day (or days)
                    <td class="dash02td" colspan="@aDAyBlock.days" >@aDAyBlock.name</td>
                }
            }
        </tr>
        }

    </table>
    @*<div style="border:1px solid;">asdasdasdasdasd</div>
        <div style="border:1px solid;">asdasdasdasdasd</div>
        <div style="border:1px solid;">asdasdasdasdasd</div>
        <div style="border:1px solid;">asdasdasdasdasd</div>*@
</div>

<script>
    function changeFromDate() {
        $("#fromDateForm").submit();
    }
</script>



