@using cityLife4;
@using cityLife.Controllers;
@{
    ViewBag.Title = "s22OrderDetails";
    TranslateBox tBox = ViewBag.tBox;
    OrderData theOrderData = ViewBag.orderData;
    List<string> staffComments = new List<string>();
    if (theOrderData.staffComments != null)
    {
        staffComments = theOrderData.staffComments.Split('\n').ToList();
    }

}



@foreach(string comment in staffComments)
{
    <div style="background-color:aliceblue">@comment</div>
}
<span style="float:left">@tBox.translate("Name")</span>
<span style="float:right">@theOrderData.name</span>
<br />
<span style="float:left">@tBox.translate("Phone")</span>
<a style="float:right" class="hyperlink" href="tel:@theOrderData.phone">@theOrderData.phone</a>
<br />
<span style="float:left">@tBox.translate("Email")</span>
<a style="float:right" class="hyperlink" href="mailto:@theOrderData.email">@theOrderData.email</a>
<br />
<span style="float:left">@tBox.translate("Country")</span>
<span style="float:right">@theOrderData.country</span>
<br />
<span style="float:left">@tBox.translate("Guests")</span>
<span style="float:right">@theOrderData.adults+@theOrderData.children</span>
<br />
<span style="float:left">@tBox.translate("Checkn")</span>
<span style="float:right">@theOrderData.checkin.ToString("dd/MM/yyyy")</span>
<br />
<span style="float:left">@tBox.translate("Checkout")</span>
<span style="float:right">@theOrderData.checkout.ToString("dd/MM/yyyy")</span>
<br />
<span style="float:left">@tBox.translate("Price")</span>
<span style="float:right">@theOrderData.price</span>
<br />
<span style="float:left">@tBox.translate("Paid")</span>
<span style="float:right">@theOrderData.paid</span>
<br />
<span style="float:left">@tBox.translate("Expected Arrival")</span>
<span style="float:right">@theOrderData.expectedArrival</span>
<br />
<span style="float:left">@tBox.translate("special requests")</span>
<span style="float:right">@theOrderData.comments</span>
<br />
<span style="float:left">@tBox.translate("Status")</span>
<span style="float:right">@tBox.translate(theOrderData.status.ToString())</span>
<br />
<a class="btn small-button" name="Update" style=" min-width: 90px;height: auto;margin: 5px;float:left" href="/staff/s23updateOrder?orderId=@theOrderData.orderId">@tBox.translate("Update")</a>

<btn class="btn small-button" name="Delete" style="float:right" onclick="deleteOrderPopup()">@tBox.translate("Delete")</btn>

<div id="deleteConfirmation" class="popup">
    <div class="popup-box" style="top:200px;">
        <div>
            @tBox.translate("Are you sure you want to delete the order?")
        </div>
        <div style="display:flex">
            <button class="btn small-button" value="Confirm" onclick="deleteOrder(@theOrderData.orderId)">
                @tBox.translate("Confirm")
            </button>
            <button class="btn small-button" value="Cancel" onclick="cancelDelete()">@tBox.translate("Cancel")</button>
        </div>
    </div>
</div>

<div id="deleteMessage" class="popup">
    <div class="popup-box" style="top:200px;">
        <div id="deleteMessageDiv">

        </div>
        <div style="display:flex">
            <button class="btn small-button" value="Confirm" onclick="closeDeleteMessage()">
                @tBox.translate("OK")
            </button>
        </div>
    </div>
</div>

<script>
    function deleteOrderPopup() {
        $("#deleteConfirmation").addClass("open");
    }
    function deleteOrder(orderId) {
        var orderIdJson = { orderId: orderId };
        $.post("/staff/s26deleteOrder", orderIdJson, orderDeleted);
    }
    function cancelDelete() {
        $("#deleteConfirmation").removeClass("open");
    }
    function orderDeleted(deleteMessage) {
        $("#deleteConfirmation").removeClass("open");
        $("#deleteMessageDiv").html(deleteMessage);
        $("#deleteMessage").addClass("open");
    }
    function closeDeleteMessage() {
        $("#deleteMessage").removeClass("open");
        $("#fromDateForm").submit();  //Refresh the dashboard
    }
</script>