@using cityLife4;
@using cityLife.Controllers;
@using System.Data.Entity;
@{
    //The view is used for both adding new orders an updating existing orders.
    //New orders have an order record which contains only checkin, checkout, number of nights and apartment number.
    //The order id of a new order is 0.
    //Existing orders contain all data belonging to that order
    ViewBag.Title = "s23addUpdateOrder";
    TranslateBox tBox = ViewBag.tBox;
    OrderData theOrderData = ViewBag.orderData;
    DbSet<Country> countries = ViewBag.countries;

}


@Html.inputField("email",theOrderData.email, theOrderData.errorMessageOf("email",tBox), tBox, fieldType:"text")
@Html.inputField("name",theOrderData.name, theOrderData.errorMessageOf("name",tBox), tBox)



<div class='inputBox select-box @theOrderData.errorOf("country")'>
    <input list="countryList" name="country" id="country" value="@theOrderData.country" class="inputElement" />
    <datalist id="countryList">
        @foreach (var aCountry in countries)
        {
            <option value="@aCountry.name" />
        }
    </datalist>
    <label for="country" class="label">@tBox.translate("Country")</label>
    <span class="error-text" >@theOrderData.errorMessageOf("country", tBox)</span>
</div>

@Html.inputField("Phone",theOrderData.phone, theOrderData.errorMessageOf("phone",tBox) , tBox, "tel")
@Html.inputField("ArrivalTime", theOrderData.expectedArrival, theOrderData.errorMessageOf("arrivalTime",tBox),tBox)

<div class='inputBox @theOrderData.errorOf("comments")' style="height:120px;">
    <textarea id="specialRequest" name="specialRequest" class="inputElement" style="height:80px;">@theOrderData.comments</textarea>
    <label for="specialReqest" class="label">@tBox.translate("Special Requests")</label>
    <span class="error-text">@theOrderData.errorMessageOf("comments",tBox)</span>
</div>
<btn class="btn" onclick="activate('Booking')">@tBox.translate("Next")</btn>



