
@using cityLife;
@using cityLife4;
@using cityLife.Controllers;
@{
    ViewBag.Title = "s25orderBooking";
    OrderData theOrderData = ViewBag.orderData;
    TranslateBox tBox = ViewBag.tBox;
    IEnumerable<short> theApartmentNumbers = ViewBag.apartmentNumbers;
}

<div class='field-box datepicker-box @theOrderData.errorOf("checkin")'>
    <input type="text" id="checkinDate" name="checkinDate" value='@theOrderData.checkin.ToString("dd MMM, yyyy")' onchange="bookingChanged(this)">
    <label for="checkinDate">
        <span class="field-name">@tBox.translate("Check-in date")</span>
        <span class="calendar-ico"></span>
    </label>
    <span class="field-error">@theOrderData.errorMessageOf("checkin", tBox)</span>
</div>
<div class="field-box datepicker-box">
    <input type="text" id="checkoutDate" name="checkoutDate" value='@theOrderData.checkout.ToString("dd MMM, yyyy")' onchange="bookingChanged(this)">
    <label for="checkoutDate">
        <span class="field-name">@tBox.translate("Check out date")</span>
        <span class="calendar-ico"></span>
    </label>
    <span class="field-error"></span>
    <span id="nights" class="nights">@theOrderData.nights @tBox.translate("nights")</span>
</div>
<div class="form-box-wrap">
    <div class="field-box select-box">
        <select id="adults" name="adults" onchange="bookingChanged(this)">
            @{
                for (int i = 1; i <= 4; i++)
                {
                    if (theOrderData.adults == i)
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            }
        </select>
        <label>
            <span class="field-name">@tBox.translate("Guests")</span>
        </label>
    </div>
    <div class="field-box select-box">
        <select id="children" name="children" onchange="bookingChanged(this)">
            @{
                for (int i = 0; i <= 4; i++)
                {
                    if (theOrderData.children == i)
                    {
                        <option value="@i" selected>@i</option>
                    }
                    else
                    {
                        <option value="@i">@i</option>
                    }
                }
            }
        </select>
        <label>
            <span class="field-name">@tBox.translate("Children")</span>
        </label>
    </div>
</div>
<div class="form-box-wrap">
  

    <div class="field-box select-box">
        <select id="apartmentNumber" name="apartmentNumber" onchange="bookingChanged(this)">
            @foreach (int anApartmentNumber in theApartmentNumbers)
            {
                if (anApartmentNumber == theOrderData.apartmentNumber)
                {
                    <option value="@anApartmentNumber" selected>@anApartmentNumber</option>
                }
                else
                {
                    <option value="@anApartmentNumber">@anApartmentNumber</option>
                }
            }
        </select>
        <label>
            <span class="field-name">@tBox.translate("Apartment")</span>
        </label>
    </div>
</div>
<div>
    <div class="form-box-wrap">
        @Html.inputField("price", theOrderData.price, theOrderData.errorMessageOf("price", tBox), tBox, style: "width:48%")
       
    </div>
    <div class="form-box-wrap">
        <div class="field-box select-box">
            <select name="bookedBy">
                <option value="me" selected>@tBox.translate("Me")</option>
                <option value="guest">@tBox.translate("Guest")</option>
                <option value="booking">@tBox.translate("Booking.com")</option>
                <option value="airbnb">@tBox.translate("Airbnb")</option>
                <option value="other">@tBox.translate("Other")</option>
            </select>
            <label>
                <span class="field-name">@tBox.translate("Booked By")</span>
            </label>
        </div>
        @Html.inputField("confirmationNumber", theOrderData.confirmationNumber, theOrderData.errorMessageOf("confirmationNumber", tBox), tBox, style: "width:48%")
    </div>
    <btn class="btn" onclick="activate('Status')">@tBox.translate("Next")</btn>
    <br />
    <span style="color:red" id="notAvailable"></span>

</div>

<script>
    function bookingChanged(field) {
        var fieldId = field.id;

        $.ajaxSetup({ cache: false });
        var bookingParameters = {};
        bookingParameters.checkinDate = $("#checkinDate").val();
        bookingParameters.checkoutDate = $("#checkoutDate").val();
        bookingParameters.adults = $("#adults").val();
        bookingParameters.children = $("#children").val();
        bookingParameters.apartmentNumber = $("#apartmentNumber").val();
        bookingParameters.orderId = $("#orderId").val();

        $.getJSON("/staff/s27checkBookingPrice", bookingParameters).done(updatePrice);
    }

    function updatePrice(priceInfo) {
        if (priceInfo.availability == "AVAILABLE") {
            //Update the price and nights
            $("#nights").html(priceInfo.nights + " " + '@tBox.translate("nights")');
            $("#price").val(priceInfo.price)
            $("#notAvailable").text("");
        }
        else {
            $("#notAvailable").text('@tBox.translate("apartment is not available")');

        }
    }
</script>


