
@using cityLife4;
@using cityLife.Controllers;
@{
    Layout = "~/Views/sharing/_cityLifeLayout.cshtml";

    //ViewBag.apartmentAndPrice = theApartmentAndPrice;
    //ViewBag.tBox = this.setTbox(currentLanguage);
    //ViewBag.pageURL = "/public/p25apartmentDetails";
    //ViewBag.Title = "apartment details";
    //ViewBag.preferredDevice = this.preferredDevice();
    //ViewBag.bookingRequest = theBookingRequest;


    ApartmentPrice theApartmentAndPrice = ViewBag.apartmentAndPrice;
    Apartment theApartment = theApartmentAndPrice.theApartment;
    string price = "";
    if (theApartmentAndPrice.pricePerStay != null)
    {
        price = theApartmentAndPrice.pricePerStay.toMoneyString();
    }

    TranslateBox tBox = ViewBag.tBox;
    DisplayDevice preferredDevice = ViewBag.preferredDevice;
    BookingRequest theBookingRequest = ViewBag.bookingRequest;
}

<div class="wrapper">
    <div class="slider slider-nav slider-nav-simple ">
        @{
            var photos = theApartmentAndPrice.theApartment.galleryPhotos(preferredDevice);
        }
        @foreach (var aPhoto in photos)
        {
            <div>
                <div class="slide">
                    <div class="image" style="background-image: url('@aPhoto.thumbnailOrFilePath');"></div>
                </div>
            </div>
        }
    </div>

    <div class="slider slider-for slider-for-simple ">
        @foreach (var aPhoto in theApartmentAndPrice.theApartment.galleryPhotos(preferredDevice))
        {
            <div>
                <div class="slide">
                    <a href="#" class="icon-btn location"></a>
                    <a href="@aPhoto.filePath" class="icon-btn resize fancybox" data-fancybox="gallery"></a>
                    <div class="image" style="background-image: url('@aPhoto.filePath');"></div>
                    <div class="slide-dscr visible-on-mobile">
                        <h4 class="light">@tBox.translate("Apartment") @theApartment.number</h4>
                        <h2 class="underlined"><a href="#">@tBox.translate(theApartment.nameKey)</a></h2>
                        <div class="price light">@price</div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="rightPane">
        <div class="sidebar" id="apartmentData">
            <div class="hidden-on-mobile">
                <h4>@tBox.translate("Apartment") @theApartment.number</h4>
                <h2 class="underlined"><a href="#">@tBox.translate(theApartment.nameKey)</a></h2>
                <div class="price">@price</div>
            </div>
            <ul class="dscr-list">
                @foreach (var aFeatureKey in theApartment.featureKeyList())
                {
                    <li>@tBox.translate(aFeatureKey)</li>
                }
            </ul>
            @{
                string disabledOrNot = "";
                string buttonText = "";

                switch (theApartmentAndPrice.availability)
                {
                    case Availability.AVAILABLE:
                        buttonText = tBox.translate("Book Now");
                        disabledOrNot = "";
                        break;
                    case Availability.NOT_SUITABLE:
                        buttonText = tBox.translate("Not Suitable");
                        disabledOrNot = "disabled";
                        break;
                    case Availability.OCCUPIED:
                        buttonText = tBox.translate("Not Available");
                        disabledOrNot = "disabled";
                        break;
                    case Availability.UNKNOWN:
                        buttonText = tBox.translate("Check Availability");
                        disabledOrNot = "disabled";
                        break;
                }
            }
            <button class="btn" onclick="getBookingForm(@theApartment.Id)" @disabledOrNot>@buttonText</button>

            <p class="note blue">@tBox.translate("No credit card needed you can cancel any time")</p>
            <div class="description">
                @foreach (var descriptionKey in theApartment.descriptionKeyList())
                {
                    <p>@tBox.translate(descriptionKey)</p>
                }
            </div>
        </div>
    </div>
</div>
<script>
    function getBookingForm(apartmentId) {
        var theApartment = {};
        theApartment.apartmentId = apartmentId;
        $.get("/public/p26bookingForm", theApartment).done(displayBookingForm);
    }

    function displayBookingForm(bookingFormHtml) {
        $("#rightPane").empty();
        $("#rightPane").append(bookingFormHtml);
        focusAnim();  //
    }
    function sendBookingData() {
        var theForm = $("#bookingForm");
        var bookingFormParameters = theForm.serializeArray();
        $.post("/public/p27bookingOrder", bookingFormParameters).done(displayBookingResult);
    }
    function displayBookingResult(bookingResultHtml) {
        $("#rightPane").empty();
        $("#rightPane").append(bookingResultHtml);
        focusAnim();
    }
</script>
