@using cityLife4;
@using cityLife.Controllers;
@using System.Data.Entity;
@{ 
    //viewBag.apartmentAndPrice
    //ViewBag.tBox
    //ViewBag.bookingRequest
    //ViewBag.countryList
    //viewBag.bookingFormData

    ApartmentPrice theApartmentAndPrice = ViewBag.apartmentAndPrice;
    Apartment theApartment = theApartmentAndPrice.theApartment;
    string price = "";
    if (theApartmentAndPrice.pricePerStay != null)
    {
        price = theApartmentAndPrice.pricePerStay.toMoneyString();
    }

    TranslateBox tBox = ViewBag.tBox;
    BookingRequest theBookingRequest = ViewBag.bookingRequest;
    DbSet<Country> countries = ViewBag.countries;
    OrderData theOrderData = ViewBag.orderData;

}
<div class="sidebar booking-form" id="bookingFormWrapper" >
    <div class="helper">
        <h4>@tBox.translate("Apartment") @theApartment.number</h4>
        <h3>@tBox.translate("Dates") @theBookingRequest.checkInOutDates()</h3>
        <div class="form">
            <form id="bookingForm">
                <input type="hidden" name="apartmentId" value="@theApartment.Id" />
                @*when an element has eror - add the calss "error to its div and write error message in field-error*@
               
                <div class='field-box @theOrderData.errorOf("email")'>
                    <input type="email" id="email" name="email" value="@theOrderData.email" onblur="checkEmailExists(this)">
                    <label for="email">
                        <span class="field-name">@tBox.translate("Email")</span>
                    </label>
                    <span class="field-error">@theOrderData.errorMessageOf("email",tBox)</span>
                </div>
                <div class='field-box @theOrderData.errorOf("name")'>
                    <input type="text" id="name" name="name" value="@theOrderData.name">
                    <label for="name">
                        <span class="field-name"> @tBox.translate("Name")</span>
                    </label>
                    <span class="field-error" id="nameError">@theOrderData.errorMessageOf("name",tBox)</span>
                </div>
                <div class='field-box select-box @theOrderData.errorOf("country")'>
                    <input list="countryList" name="country" id="country" value="@theOrderData.country" />
                    <datalist id="countryList">
                        @foreach (var aCountry in countries)
                        {
                            <option value="@aCountry.name"/>
                        }
                    </datalist>
                    <label for="country">
                        <span class="field-name">@tBox.translate("Country")</span>
                    </label>
                    <span class="field-error" id="countryError">@theOrderData.errorMessageOf("country",tBox)</span>
                </div>
                

                <div class='field-box @theOrderData.errorOf("phone")'>
                    <input type="tel" id="phone" name="phone" value="@theOrderData.phone">
                    <label for="phone">
                        <span class="field-name">@tBox.translate("Phone")</span>
                    </label>
                    <span class="field-error">@theOrderData.errorMessageOf("phone",tBox)</span>
                </div>
                <div class="field-box">
                    <input type="text" id="arrivalTime" name="arrivalTime" value="@theOrderData.expectedArrival">
                    <label for="arrivalTime">
                        <span class="field-name">@tBox.translate("expected arrival time")</span>
                    </label>
                    <span class="field-error"></span>
                </div>
                <div class="field-box">
                    <textarea id="specialRequest" name="specialRequest">@theOrderData.comments</textarea>
                    <label for="specialRequest">
                        <span class="field-name">@tBox.translate("special request")</span>
                    </label>
                    <span class="field-error"></span>
                </div>
                <div class="total-sum">
                    Total:
                    <span>@price</span>
                </div>
                <input type="button" class="btn" value="Book now" onclick="sendBookingData()">  @*function defined in p25apartmentDetails.cshtml*@
            </form>
        </div>
    </div>
</div>
<script>
    function checkEmailExists(inputEmail) {
        var emailObj = { email: inputEmail.value };
        $.getJSON("/public/p29checkEmailExists", emailObj).done(getGuestData);
    }
    function getGuestData(guestData) {
        if (guestData.name != "") {
            //The guest information is available - this is a returning customer - with a known email- update his personal information
            $("#name").val(guestData.name);
            $("#country").val(guestData.country);
            $("#phone").val(guestData.phone);
        }
    }
</script>