@using cityLife4;
@using cityLife.Controllers;
@{ 
    //ViewBag.theOrder = theOrder;
    //ViewBag.tBox
    Order theOrder = (Order)ViewBag.theOrder;
    TranslateBox tBox = (TranslateBox)ViewBag.tBox;
    ApartmentPrice apartmentAndPrice = ViewBag.apartmentAndPrice;
    
}
<div class="sidebar">
    <h2 style="text-align:center"> @tBox.translate("Congratulations")!</h2>
    <br />
    <h3 style="text-align:center">@tBox.translate("Your booking has been successfully accepted").</h3>
    <h3 style="text-align:center">@tBox.translate("Email has been sent to the following address"):</h3>
    <br />
    <h3 class="mail" style="text-align:center">@theOrder.Guest.email </h3>
    <br />
    <div style="border-bottom: 2px solid #EEF3F7;"></div>
    <br />
    <span style="float:left">@tBox.translate("Checkin Date")</span>
    <span style="float:right">@theOrder.checkinDate.ToShortDateString() </span>
    <br />
    <span style="float:left">@tBox.translate("Checkout Date")</span>
    <span style="float:right">@theOrder.checkoutDate.ToShortDateString() </span>
    <br />
    <span style="float:left">@tBox.translate("Checkin Time")</span>
    <span style="float:right">14:00 </span>
    <br />
    <span style="float:left">@tBox.translate("Checkout Time")</span>
    <span style="float:right">12:00</span>
    <br />
    <span style="float:left">@tBox.translate("Guests")</span>
    <span style="float:right">@theOrder.adultCount </span>
    <br />
    <span style="float:left">@tBox.translate("Children")</span>
    <span style="float:right">@theOrder.childrenCount </span>
    <br />
    <span style="float:left">@tBox.translate("Price")</span>
    <span style="float:right">@apartmentAndPrice.pricePerStay.toMoneyString() </span>
    <br />
    <span style="float:left">@tBox.translate("Expected Arrival Time")</span>
    <span style="float:right">@theOrder.expectedArrival </span>
    <br />
    <span style="float:left">@tBox.translate("Booking Number")</span>
    <span style="float:right">@theOrder.Id</span>
    <br />
    <span style="float:left">@tBox.translate("Special Requests")</span>
    <span style="float:right">@theOrder.specialRequest </span>
    <br />


</div>

